<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<body>
<div id="app" class="px-3" layout:fragment="content">
    <h1 class="display-3">Item Page</h1>
    <form class="form-inline py-4">
        <div class="form-group mb-2">帳號</div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="username" class="sr-only">Min Price</label>
            <input type="text" class="form-control" id="username" maxlength="64" v-model="username">
        </div>
        <div class="form-group mb-2">姓名</div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="name" class="sr-only">Min Price</label>
            <input type="text" class="form-control" id="name" maxlength="64" v-model="name">
        </div>
        <button type="button" class="btn btn-primary mb-2" @click="search">Search</button>
    </form>
    <div v-show="results.length > 0">
        <table id="user-list" class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>帳號</th>
                <th>姓名</th>
                <th>Email</th>
                <th>角色</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="result in results" style="cursor:pointer" @click="showDetails(result.id)">
                <td v-text="result.id">1</td>
                <td v-text="result.username">admin</td>
                <td v-text="result.name">Administrator</td>
                <td v-text="result.email">admin@example.com</td>
                <td v-text="result.role">ADMIN</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--/* MODAL */-->
    <div class="modal fade" id="userDetailModal" tabindex="-1" aria-labelledby="userDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">User Detail</h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-4 text-right"><strong>ID:</strong></div>
                            <div class="col-sm-8"><span v-text="user.id"></span></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-4 text-right"><strong>帳號:</strong></div>
                            <div class="col-sm-8"><span v-text="user.username">1</span></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-4 text-right"><strong>姓名:</strong></div>
                            <div class="col-sm-8"><span v-text="user.name"></span></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-4 text-right"><strong>Email:</strong></div>
                            <div class="col-sm-8"><span v-text="user.email"></span></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-4 text-right"><strong>角色:</strong></div>
                            <div class="col-sm-8"><span v-text="user.role"></span></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="closeModal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
    $(window).on('beforeunload', function() { $(window).scrollTop(0);});
    var basePath = /*[[ @{'/employee/user'} ]]*/ + '';
    const VueSource = {
        search: Vue.resource(basePath + 's'),
        detail: Vue.resource(basePath + '{/id}')
    };
    var app = new Vue({
        el: '#app',
        data: {
            results: [],
            username: null,
            name: null,
            pageable: {
                pageNumber: 0,
                pageSize: 20
            },
            last: true,
            busy: true,
            user: {}
        },
        methods: {
            search: function() {
                this.init();
                this.last = false;
                this.busy = false;
                this.infiniteScroll();
            },
            init: function() {
                this.last = true;
                this.busy = true;
                this.pageable = {pageNumber: 0, pageSize: 20};
                this.results = [];
            },
            infiniteScroll: function() {
                if (!this.busy && !this.last) {
                    this.busy = true;
                    VueSource.search.save(this.parameters(), {}).then(response => {
                        if (this.pageable.pageNumber == 0 && response.body.empty) {
                            bootbox.alert('No Data Found!');
                        }
                        response.body.content.forEach(element => this.results.push(element));
                        this.pageable.pageNumber = response.body.pageable.pageNumber + 1;
                        this.pageable.pageSize = response.body.pageable.pageSize;
                        this.last = response.body.last;
                        this.points();
                        if (!this.last) {
                            this.busy = false;
                        }
                    });
                }
            },
            parameters: function() {
                return {
                    'username': this.username,
                    'name': this.name,
                    'page': this.pageable.pageNumber,
                    'size': this.pageable.pageSize};
            },
            points: function() {
                var vm = this;
                new Waypoint({
                    element: document.getElementById('user-list'),
                    handler: function(direction) {
                        if ('down' == direction && !vm.busy) {
                            vm.infiniteScroll();
                        }
                    },
                    offset: 'bottom-in-view'
                });
            },
            showDetails: function(id) {
                VueSource.detail.get({'id' : id}).then(response => {
                    this.user = Object.assign({}, response.body);
                    $('#userDetailModal').modal('show');
                });
            },
            closeModal: function() {
                this.user = Object.assign({}, {});
                $('#userDetailModal').modal('hide');
            }
        }
    });
</script>
</th:block>
</body>
</html>